/*Codice nuovo*/

div#hormenu img{
width: 32px;
height: 32px;
}

div#hormenu {
margin: 0;
padding: 0;
margin-right: 20px; 
}

div#hormenu ul
{
margin: 0;
padding: 0;
list-style-type: none;/*Evita che vengano messi i pallini alla lista non ordinata*/
}

div#hormenu li
{
width:100px;
margin: 0;
padding: 0;
color:green;
}

div#hormenu a
{
display: block;
padding: 5px;
color: green;
text-decoration: none;
}
div#hormenu a:hover
{
background-color: green;
color: white;
text-decoration: none;
}

div#hormenu li ul
{
display: none	/*Inizialmente non è visibile la sottolista*/
}

div#hormenu li:hover ul
{
display: block;
position: absolute;/*Mi permette di sovrapporre la lista all'altro elemento vicino*/
width:150px;
padding: 0;
margin: 0 0 0 -1px;
border:1px solid black;
border-radius: 10px;
background: white;
}

div#hormenu li li {width:150px; }
div#hormenu li li a { padding:2px 2px 2px 10px; }
/*Fine codice nuovo*/
body{
   background-color: rgb(244, 164, 96, 0.4);
	display: flex;
	flex-direction: column;
	align-items: center;
	
	font-weight: normal;
	font-style: italic;
	font-family: 'Roboto','sans-serif';
	font-size: 18px;
}

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	height: 50%;
	width: 98%;
	
	border-radius: 30px;

	margin: 5px;
	padding-top: 100px;
	
	background-repeat: no-repeat;
	background-size: cover;
}

header h1{
	padding: 10px;
	
	border: 2px solid green;
	border-radius: 10px;
	background-color: rgb(240, 220, 130, 0.7);
	text-align: center;
	width: 50%;
	
	
}
/*Profilo dello sviluppatore, l'avatar è ottenuto con l'apikey di abstract*/
#profilo{
	font-size: 10px;
	border-radius: 100px;
	
	padding: 10px;
	margin-top: -40px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*Profilo utente*/
#profile{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	
	width: 200px;
	height: 280px;
	
	margin: 20px;
	font-style: italic;
	font-weight: bolder;
	color: green;
	
}
#profile img{
	width: 150px;
	height: 150px;
	border-radius: 100px;
	cursor: pointer;
}

/*Sezione barra di navigazione*/
nav{
	/*Parte nuova*/
	display: flex;
	align-items: left;
	/*Fine parte nuova*/
	
	border-radius: 20px;
	
	width: 80%;
	height: 8%;
	
	margin-top: 0px;
	
	padding: 15px;
	background: linear-gradient(to right, rgb(241, 39, 17), rgb(245, 175, 25)); /*-> tendenza all'arancio rosso*/
}
nav a{
	margin: 2px;
	padding: 12px;
	
	border: 2px solid green;
	border-radius: 10px;
	background-color: rgb(240, 220, 130, 1);
	
	font-style: italic;
	font-weight: bolder;
	color: green;
	text-decoration: none;
}

a:hover{
	background-color: white;
}
nav a:hover{
	border: 2px solid black;
}
a{
    cursor:pointer;
}

/*Parte dei contenuti*/
.hidden{
	/*display: none;*/
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	
	border-radius: 30px;
	/*border: 2px solid black;*/
	
	width: 80%;
	min-width: 632px;
	margin-top: 20px;
	margin-bottom: 5px;
	
	background-repeat: no-repeat;
	background-size: cover;
	
	
}
section h1{
	color: green;
}
/*Contenuti selezionati dall'utente in galleria*/
#carrello{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	
	/*padding: 10px;*/
	justify-content: space-between;
	width:100%;
	background-color: rgb(245, 245, 220, 1);
	border-radius: 30px;
	
}

#carrello img{
	/*max-width: 300px;*/
	width: 60%;
	max-height: 350px;
	border-radius: 100px;
}
#carrello div{
	display:flex;
	flex-direction:column;
	align-items: center;
	width: 40%;
	/*max-height: 450px;*/
	margin: 5px;
	border: 2px solid black;
}

/*Descrizione delle idee dei contenuti*/

#carrello article{
	text-align: center;
	justify-content: center;
	
	border-radius: 20px;
	border: 1px solid green;

	width: 90%;
	height: 20px;
	margin: 8px;
	padding: 8px;
		
	background: linear-gradient(to right, rgb(255, 226, 89), rgb(255, 167, 81));
	font-size: 14px;
}
#carrello span{
	margin: 3px;
}
/*AREA MODIFICHE CREDENZIALI*/
#modifiche {
	color: green;
	display: flex;
	width: 40%;/**/
	flex-direction: column;
	text-align: center;
	/*background: linear-gradient(to right, rgb(242, 153, 74), rgb(242, 201, 76));*/
}
#modifiche p{
	/*background-color: rgb(240, 220, 130, 0.7);*/
	padding: 10px;
	background-color: rgb(245, 245, 220, 1);
	border-radius: 30px;
	
	color: black;
	min-width: 228px;
    
}
form{
	min-width: 250px;
	
	border-radius: 30px;
	margin: 50px;
	padding: 10px;
	
	background-color: rgb(245, 245, 220, 1);
}
label{
	display: flex;
	align-items: center;
	text-align: left;
	justify-content: space-between;
	margin: 14px 0 14px 0;
}
input{
	margin-left: 0.5em;
}


/*Footer con contatti*/
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	
	border: 1px solid blue;

	background-color: rgba(47, 79, 79, 1);
	
	position: relative;
	
	height: 250px;
	width: 98%;
	
	border-radius: 10px;
	
	font-weight: bold;
	font-style: italic;
	color:white;
	font-family: 'Roboto','sans-serif';
	font-size: 70%;
	line-height: 25px;
		
	margin: 5px;
	
}
footer p{
	font-size: 2vw;
}


footer img{
	width: 300px;
	height: 100px;
	border-radius:10px;
}

#accountGithub{
	width: 32px;
	height: 32px;
	margin: 0px;
	cursor: pointer;
}
footer a{
	border-radius:100px;
	margin-top: 20px;
}
/*Adattamento mobile: Galaxy S5*/

@media(max-width: 360px){
	body{
		width: 360px;
	}
	header{
		width: 360px;
		height: 300px;
		padding: 0px;
		font-size: 12px;
	}
	header h1{
		width: 120px;
		padding: 2px;
	}
	nav{
		width: 220px;
		height: 8%;
	
		padding: 15px;
		padding-top: 35px;
		text-align: center;
	}
	nav a{
		padding: 5px;
		font-size: 16px;
	}
	
	#profilo{
	font-size: 4px;
	
	padding: 2px;
	margin-top: 10px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	article{
	
	height: 1300px;
	width: 220px;
	
	margin: 20px;
	padding: 20px;
	
	min-width: 280px;
	min-height: 600px;
	
	max-height: 200%;
	
	}
	form {
		min-width: 280px;
	}

	
}
